
.header{
    text-align: center;
    padding: 20px 0;
}
.App {
    display: flex;
    }
.App > div{
    padding: 10px;
}

.title {
    display: flex;
    align-items: center;
}
.error {
    border: 2px solid red;
}
.errorMessage {
    color: red;
}

